.Rproj.user
.Rhistory
.RData
.Ruserdata
cor-book.Rproj
/.quarto/
**/*.quarto_ipynb
.DS_Store
Icon
data
models
figs
tables
feedback
to cite
.positai
submitted
article-version.pdf
Icon
_extensions
*_cache
*_files
replication*.html
slides/*.html
archive
Icon
TODO text and notes for Ch 1-2.qmd
.cache
Icon
cache
_freeze
Appendix.html
.secrets
data-citations-and-documentation
index.aux
index.log
index.pdf
index.tex
index.toc
